*.suo
/build/Output/**
**/bin/**
**/obj/**
**.user
/*.sdf
*.psess

**/AppPackages/**
/src/NConsole.sln.GhostDoc.xml
/src/packages/**

[Bb]in/
[Oo]bj/
packages/
*.ncrunch*
/src/_NCrunch_NConsole/*.cache
/src/.vs/*
